@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Outfit", sans-serif;
  margin: auto;
}
.MainOutter {
  width: 1040px;
  padding-bottom: 300px;
}

.HeadingDiv {
  display: flex;
}
.Heading {
  font-size: 110px;
  font-weight: 700;
  line-height: 118.8px;
  color: rgb(12, 12, 60);
  z-index: 4;
  margin-top: 70px;
}
.ParaDiv {
  margin-left: 20px;
}
.Paragraph {
  display: block;
  margin-top: 80px;
  width: 250px;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: rgb(82, 82, 87);
  z-index: 5;
}
.DicoverBTN {
  display: flex;
  background-color: #7b78f7;
  width: 180px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 600;
  line-height: 32.4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.8s ease;
}
.arrow {
  width: 40px;
  /* height: 20px; */
}
.DicoverBTN:hover {
  background-color: #0c0c3c;
}
.ImageDiv {
  top: 150px;
  left: 150px;
  position: absolute;
  display: flex;
  gap: 20px;
  z-index: 1;
}
.ImageDiv2 {
  display: flex;
  height: 500px;
  gap: 20px;
}
.ClinetCountDiv {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 400px;
}
.ClientCount {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: normal;
  color: rgb(123, 120, 247);
}
.HappyClient {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: rgb(12, 12, 60);
}

.MainImages2 {
  border-radius: 25px;
  width: 270px;
  height: 400px;
  z-index: 1;
  margin-top: 100px;
}

.ImageDiv1 {
  display: flex;
  flex-direction: column-reverse;
}
.divider {
  height: 80px;
  opacity: 1;
  color: #c1c1c1;
}
.ClientProjectCount {
  display: flex;
  width: 270px;
  gap: 20px;
  pointer-events: none;
}
.ProjectsHeading {
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  color: rgb(12, 12, 60);
}
.MainImages {
  border-radius: 25px;
  width: 270px;
  height: 400px;
  z-index: 1;
}
@media (max-width: 768px) {
  .MainOutter {
    width: 100%;
    padding: 20px;
  }

  .HeadingDiv {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Heading {
    font-size: 50px;
    line-height: 1.2;
    margin-top: 30px;
  }

  .ParaDiv {
    margin-left: 0;
    margin-top: 20px;
  }

  .Paragraph {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }

  .DicoverBTN {
    margin-top: 20px;
    justify-content: center;
  }

  .ImageDiv {
    position: static;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }

  .ImageDiv2,
  .ImageDiv1 {
    
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .MainImages,
  .MainImages2 {
    width: 90%;
    height: auto;
  }

  .ClinetCountDiv {
    margin-top: 100px;
    align-items: center;
  }

  .ClientProjectCount {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .ProjectsHeading {
    font-size: 28px;
    text-align: center;
  }
}











/* Under the Title */
            /* // <div className="mt-6 md:mt-8">
            //   <p className="text-[18px] md:text-[20px] leading-[30px] md:leading-[36px] text-[#525257] w-full md:w-[250px]">
            //     This renewable energy source is abundant and sustainable, we
            //     providing a friendly alternative to traditional fossil fuels.
            //   </p>
            //   <button className="mt-5 flex items-center justify-center bg-[#7b78f7] hover:bg-[#0c0c3c] text-white px-6 py-2 rounded-full text-[18px] font-semibold transition duration-300">
            //     Discover More
            //   </button>
            // </div> */





               /* Projects Clients Section */
          /* // <div className="flex gap-5 mt-6 w-full md:w-[270px]">
          //   <div>
          //     <h1 className="text-[36px] font-bold text-[#0c0c3c]">200+</h1>
          //     <p>Client Projects Completed.</p>
          //   </div>
          //   <div className="border-l border-[#c1c1c1] h-[80px]"></div>
          //   <div>
          //     <h1 className="text-[36px] font-bold text-[#0c0c3c]">500+</h1>
          //     <p>Experts Employed.</p>
          //   </div>
          // </div> */


          /* import solarImage from "/home/solarBanner.png";
import solarImage2 from "/home/solarBanner2.jpg"; */