/* Default styling */
.navbarMain {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.logo {
  width: 200px;
}
.navLinksDiv {
  display: flex;
  align-items: center;
  gap: 40px;
}
.NavLink {
  font-size: 18px;
  font-weight: 600;
  color: #0c0c3c;
  text-decoration: none;
}
.NavLink:hover {
  color: #7b78f7;
}
.navContactBTN {
  background-color: white;
  color: #0c0c3c;
  padding: 10px 20px;
  border: 1px solid #0c0c3c;
  border-radius: 35px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
}
.navContactBTN:hover {
  background-color: #7b78f7;
  color: white;
  border-color: #7b78f7;
}

.menuIcon {
  display: none;
  cursor: pointer;
}
.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 10px;
  }

  .menuIcon {
    display: block;
    margin-left: auto;
    cursor: pointer;
    z-index: 10;
  }

  .navLinksDiv {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navLinksDiv.showMenu {
    display: flex;
    position: absolute;
    top: 100%; /* Push menu right below the navbar */
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: white;
  }

  .NavLink {
    width: 100%;
    text-align: left;
  }
}
