@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
.MainWelcomeDiv {
  font-family: "Outfit", sans-serif;
  margin: auto;
  padding: 100px 0;
  width: 1040px;
  display: flex;
}
.WelcomeDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.WelcomeHeading {
  font-size: 50px;
  font-weight: 600;
  line-height: 57px;
  color: rgb(12, 12, 60);
}
.WelcomeTextDiv {
  display: flex;
  gap: 20px;
}
.YearsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.noOfYears {
  font-size: 110px;
  font-weight: 700;
  line-height: normal;
  color: rgb(12, 12, 60);
}
.YearsHeading {
  font-size: 28px;
  font-weight: 600;
  line-height: 35.84px;
  color: rgb(123, 120, 247);
}
.WelcomeText {
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  color: rgb(82, 82, 87);
}
.WelcomeImgDiv {
  display: grid;
  place-items: end;
  width: 50%;
  height: fit-content;
}

.WelcomeImg {
  grid-area: 1 / 2;
  width: 350px;
  border-radius: 20px;
  height: auto;
}

.fixedImg {
  grid-area: 1 / 2;
  margin: 0px 0px 50px 300px;
  border-radius: 15px;
  width: 175px;
  height: auto;
  pointer-events: none;
}
